<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Patient's case history</title>
  <link href="css1/table.css" rel="stylesheet">
  <link href="css1/bootstrap.min.css" rel="stylesheet">
	<link href="css1/font-awesome.min.css" rel="stylesheet">
	<link href="css1/datepicker3.css" rel="stylesheet">
	<link href="css1/styles.css" rel="stylesheet">

	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Hestia</span>Medical</a>
				
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="img/doctor.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><h4><p id="demo"></p></h4>
				<script>  
					email1 = window.localStorage.getItem("vTwoLocalStorage"); 
					email2 = email1.match(/^([^@]*)@/)[1];
					document.getElementById("demo").innerHTML = email2 ;
					//gotobottom();
				</script></div>
				<!--div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div-->
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>

		<ul class="nav menu">
			<!--li><a href="index.html"><em class="fa fa-Patients">&nbsp;</em> Patients</a></li-->
			<li class=""><a href="/staff"><em class="fa fa-calendar">&nbsp;</em> Dashboard</a></li>
			<li><a href="/doctoraccountinfo"><em class="fa fa-bar-chart">&nbsp;</em> My account</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Patients <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="active" href="/ptable">
						<span class="fa fa-arrow-right">&nbsp;</span> Manage cases
					</a></li>
					<li><a class="" href="/queries">
						<span class="fa fa-arrow-right">&nbsp;</span> Queries
					</a></li>
				</ul>
			</li>
			<li><a href="stafflogin.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Case Status</li>
			</ol>
		</div><!--/.row-->


    <!--div class="panel panel-default articles">
  					<div class="panel-heading">
  						Case History So far
  						<!--ul class="pull-right panel-settings panel-button-tab-right">
  							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
  								<em class="fa fa-cogs"></em>
  							</a>

  							</li>
  						</ul-->
  						<!--span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
  					<div class="panel-body articles-container">
  						<div class="article border-bottom">
  							<div class="col-xs-12">
  								<div class="row">
  									<div class="col-xs-2 col-md-2 date">
  										<div class="large">30</div>
  										<div class="text-muted">Jun</div>
  									</div>
  									<div class="col-xs-10 col-md-10">
  										<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
  										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
  									</div>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div><!--End .article-->

  						<!--div class="article border-bottom">
  							<div class="col-xs-12">
  								<div class="row">
  									<div class="col-xs-2 col-md-2 date">
  										<div class="large">28</div>
  										<div class="text-muted">Jun</div>
  									</div>
  									<div class="col-xs-10 col-md-10">
  										<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
  										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
  									</div>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div><!--End .article-->

  						<!--div class="article">
  							<div class="col-xs-12">
  								<div class="row">
  									<div class="col-xs-2 col-md-2 date">
  										<div class="large">24</div>
  										<div class="text-muted">Jun</div>
  									</div>
  									<div class="col-xs-10 col-md-10">
  										<h4><a href="#">Lorem ipsum dolor sit amet</a></h4>
  										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at sodales nisl. Donec malesuada orci ornare risus finibus feugiat.</p>
  									</div>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div><!--End .article-->
  					<!--/div>
  				</div-->


          <div class="col-md-16">
          <div class="panel panel-default">
  					<div class="panel-heading">
  						Add prescription
  						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
  					<div class="panel-body">
  						<form class="form-horizontal" action="/addprescription" method="post">
  							<fieldset>
  								<!-- Name input-->
  								<div class="form-group">
  									<label class="col-md-3 control-label" for="name">Patient Name</label>
  									<div class="col-md-9">
  										<input id="name" name="name" type="text" placeholder="Your name" class="form-control">
  									</div>
  								</div>

								<!-- Email input-->
  								<div class="form-group">
  									<label class="col-md-3 control-label" for="email">Patient Email ID</label>
  									<div class="col-md-9">
  										<input id="email" name="email" type="text" placeholder="Your email id" class="form-control">
  									</div>
  								</div>

  								<!-- Appointment input-->
  								<div class="form-group">
  									<label class="col-md-3 control-label" for="appdate">Appointment Date</label>
  									<div class="col-md-9">
                      <input name="appdate" placeholder="Appointment date" id="appdate" onblur="this.placeholder = 'Enter Appointment date'"
                       class="common_input mb-10 form-control" required="" type="text" onfocus="(this.type='date')" >
  									</div>
  								</div>

  								<!-- Message body -->
  								<div class="form-group">
  									<label class="col-md-3 control-label" for="message">Prescription</label>
  									<div class="col-md-9">
  										<textarea class="form-control" id="message" name="message" placeholder="Please enter the prescription" rows="25"></textarea>
  									</div>
  								</div>

  								<!-- Form actions -->
  								<div class="form-group">
  									<div class="col-md-12 widget-right">
  										<button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
  									</div>
  								</div>
  							</fieldset>
  						</form>
  					</div>
  				</div>
          </div>

          <!--div class="col-md-6">
                    <div class="panel panel-default">
            					<div class="panel-heading">
            						Case History Updation Form

            						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
            					<div class="panel-body">
            						<form class="form-horizontal" action="" method="post">
            							<fieldset>
            								<!-- Name input-->
            								<!--div class="form-group">
            									<label class="col-md-3 control-label" for="name">Patient Name</label>
            									<div class="col-md-9">
            										<input id="name" name="name" type="text" placeholder="Your name" class="form-control">
            									</div>
            								</div>

            								<!-- Email input-->
                            <!--div class="form-group">
            									<label class="col-md-3 control-label" for="email">Appointment Date</label>
            									<div class="col-md-9">
                                <input name="appdate" placeholder="Appointment date"  onblur="this.placeholder = 'Enter Appointment date'"
                                 class="common_input mb-10 form-control" required="" type="text" onfocus="(this.type='date')" >
            									</div>
            								</div>

            								<!-- Message body -->
            								<!--div class="form-group">
            									<label class="col-md-3 control-label" for="message">Case update</label>
            									<div class="col-md-9">
            										<textarea class="form-control" id="message" name="message" placeholder="Please enter a case update here..." rows="5"></textarea>
            									</div>
            								</div>

            								<!-- Form actions -->
            								<!--div class="form-group">
            									<div class="col-md-12 widget-right">
            										<button type="submit" class="btn btn-default btn-md pull-right">Submit</button>
            									</div>
            								</div>
            							</fieldset>
            						</form>
            					</div>
            				</div>
                    </div-->





<script src="js1/jquery-1.11.1.min.js"></script>
	<script src="js1/bootstrap.min.js"></script>
	<script src="js1/chart.min.js"></script>
	<script src="js1/chart-data.js"></script>
	<script src="js1/easypiechart.js"></script>
	<script src="js1/easypiechart-data.js"></script>
	<script src="js1/bootstrap-datepicker.js"></script>
	<script src="js1/custom.js"></script>

</body>
</html>
