<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Account</title>
	<link href="css1/bootstrap.min.css" rel="stylesheet">
	<link href="css1/font-awesome.min.css" rel="stylesheet">
	<link href="css1/datepicker3.css" rel="stylesheet">
	<link href="css1/profile.css" rel="stylesheet">
	<link href="css1/styles.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  <!--script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Hestia</span>Medical</a>
				<ul class="nav navbar-top-links navbar-right">

					<li class="dropdown"><a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
						<em class="fa fa-bell"></em><span class="label label-info">n</span>
					</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li><a href="queries.html">
								<div><em class="fa fa-envelope"></em> 1 New Query
									<span class="pull-right text-muted small">3 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<!--li><a href="#">
								<div><em class="fa fa-heart"></em> 2 upcoming appointsments
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li-->
							<li class="divider"></li>
							<li><a href="staff.html">
								<div><em class="fa fa-user"></em> 2 upcoming appointments
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="img/patient.jpg" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">Username</div>
				<!--div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div-->
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>

		<ul class="nav menu">
			<!--li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li-->
			<li><a href="Staff.html"><em class="fa fa-calendar">&nbsp;</em> Dashboard</a></li>
			<li class="active"><a href="doctoraccountinfo.html"><em class="fa fa-bar-chart">&nbsp;</em> My account</a></li>
			<!--li><a href="elements.html"><em class="fa fa-toggle-off">&nbsp;</em> UI Elements</a></li>
			<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li-->
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Patients <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="ptable.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Manage cases
					</a></li>
					<li><a class="" href="queries.html">
						<span class="fa fa-arrow-right">&nbsp;</span> Queries
					</a></li>
					<!--li><a class="" href="#">
						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
					</a></li-->
				</ul>
			</li>
			<li><a href="stafflogin.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">My Account</li>
			</ol>
		</div><!--/.row-->

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">My Account</h1>
			</div>
		</div><!--/.row-->

    <div class="container bootstrap snippet">

        <div class="row">
      	<!--/col-3-->
        	<!--div class="col-sm-9">

              <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>
                      <form class="form" action="##" method="post" id="registrationForm">
                          <div class="form-group">

                              <div class="col-xs-6">
                                  <label for="first_name"><h4>First name</h4></label>
                                  <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                              </div>
                          </div>
                          <div class="form-group">

                              <div class="col-xs-6">
                                <label for="last_name"><h4>Last name</h4></label>
                                  <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                              </div>
                          </div>

                          <div class="form-group">

                              <div class="col-xs-6">
                                  <label for="phone"><h4>Phone</h4></label>
                                  <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-xs-6">
                                 <label for="email"><h4>Email</h4></label>
                                  <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                              </div>
                          </div>

                          <div class="form-group">

                              <div class="col-xs-6">
                                  <label for="Position"><h4>Job Position</h4></label>
                                  <input type="text" class="form-control" id="location" placeholder="Job Position" title="enter your job position">
                              </div>
                          </div>

                          <div class="form-group">
                               <div class="col-xs-12">
                                    <br>
                                  	<button class="btn btn-lg" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Back</button>
                                    </div>
                          </div>
                  	</form>

                  <hr>

                 </div>
                </div>

            </div--><!--/col-9-->
					<div class="col-md-6">
                   <div class="profile-head">
                               <h5>
                                     Kshiti Ghelani
                               </h5>
                               <h6>
                                     Physician
                               </h6>

                         	<!--ul class="nav nav-tabs" id="myTab" role="tablist">
                                 <li class="nav-item">
                                     <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                 </li>
                           </ul-->
                         </div>
                     </div>
										 <hr>
										 <hr>
					<div class="col-md-8">
					     <!--div class="tab-content profile-tab" id="myTabContent">
					           <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"-->
					                  <div class="row">
					                        <div class="col-md-6">
					                                 <label>User Id</label>
					                                      </div>
					                                          <div class="col-md-6">
						                                                <p>Kshiti123</p>
					                                           </div>
					                  </div>
						                <div class="row">
						                     <div class="col-md-6">
						                          <label>Name</label>
						                                  </div>
						                                      <div class="col-md-6">
						                                              <p>Kshiti Ghelani</p>
						                                      </div>
						               </div>
						               <div class="row">
						                   <div class="col-md-6">
						                       <label>Email</label>
						                          	</div>
						                              <div class="col-md-6">
						                                     <p>kshitighelani@gmail.com</p>
						                               </div>
						               </div>
						                                        <div class="row">
						                                            <div class="col-md-6">
						                                                <label>Phone</label>
						                                            </div>
						                                            <div class="col-md-6">
						                                                <p>123 456 7890</p>
						                                            </div>
						                                        </div>
						                                        <div class="row">
						                                            <div class="col-md-6">
						                                                <label>Profession</label>
						                                            </div>
						                                            <div class="col-md-6">
						                                                <p>Physician</p>
						                                            <!--/div>
						                                        </div-->
						                            </div>

						                        </div>
						                    </div>
        </div><!--/row-->

	</div>	<!--/.main-->


<script src="js1/jquery-1.11.1.min.js"></script>
	<script src="js1/bootstrap.min.js"></script>
	<script src="js1/chart.min.js"></script>
	<script src="js1/chart-data.js"></script>
	<script src="js1/easypiechart.js"></script>
	<script src="js1/easypiechart-data.js"></script>
	<script src="js1/bootstrap-datepicker.js"></script>
	<script src="js1/custom.js"></script>

</body>
</html>
