<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Hestia Medical</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<link rel="stylesheet" href="vendors/animate-css/animate.css">
	<!-- main css -->
	<link rel="stylesheet" href="css/style.css">
	<style>
	html {
  scroll-behavior: smooth;
 }

	</style>
</head>

<body>

	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="header-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-3 col-sm-6 col-4 header-top-left">

					</div>
					<div class="col-lg-9 col-sm-6 col-8 header-top-right">
						<a href="tel:+9199999999996"><span class="lnr lnr-phone-handset"></span> <span class="text"><span class="text">+91 9999999999</span></span></a>
						<a href="mailto:support.hestia@gmail.com"><span class="lnr lnr-envelope"></span> <span class="text"><span class="text">support.hestia@gmail.com</span></span></a>
						<a href="patientlogin.html" class="primary-btn text-uppercase">Login</a>
					</div>
				</div>
			</div>
		</div>
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#contact">About</a></li>
								<li class="nav-item"><a class="nav-link" href="departments.html">Departments</a></li>
						<!--li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Departments</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="doctors.html">ENT</a></li>
									<li class="nav-item"><a class="nav-link" href="Physician.html">Physician</a></li>
										<li class="nav-item"><a class="nav-link" href="Gynaecologist.html">Gynaecologist</a></li>
											<li class="nav-item"><a class="nav-link" href="Dentist.html">Dentist</a></li>
								</ul>
							</li-->
							<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav ml-auto">

							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="banner_content">
					<h2>
						Known for our expertise.  <br>
						Chosen for our care. <br>
					</h2>
					<p>
						Because your wellness is the most important for us.
					</p>
					<a class="primary-btn text-uppercase" href="#form">Book an Appointment</a>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area section_gap">
		<div class="container">
			<div class="row">
				<!-- single feature -->
				<div class="col-lg-4 col-md-6">
					<div class="single_feature">
						<div class="feature_head">
							<img src="img/features/icon1.png" alt="">
							<h4>Emergency Services</h4>
						</div>
						<div class="feature_content">
							<p>We at Hestia Center, provide 24*7 ambulance and emergency doctors</p>
							<div class="feature_btn">
								<a href="tel:+9199999999996" class="f_btn">Call Us: +91 9999999999</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single feature -->
				<div class="col-lg-4 col-md-6">
					<div class="single_feature">
						<div class="feature_head">
							<img src="img/features/icon2.png" alt="">
							<h4>Doctors Schedule</h4>
						</div>
						<div class="feature_content">
							<p>The general doctor's schedule is available on the website and, to know the schedules of doctors in specialized fields please contact us. </p>
							<div class="feature_btn">
								<a href="#schedule" class="f_btn">See Schedule</a>
							</div>
						</div>
					</div>
				</div>
				<!-- single feature -->
				<div class="col-lg-4 col-md-6">
					<div class="single_feature">
						<div class="feature_head">
							<img src="img/features/icon3.png" alt="">
							<h4>Online Appointment</h4>
						</div>
						<div class="feature_content">
							<p>We provide means to book appointments online via a form. We have professionals in various fields like ENT, Dental care, Neurology and Physicians</p>
							<div class="feature_btn">
								<a href="#form" class="f_btn">Get Appointment</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================ Start About Area =================-->
<div id=schedule>
	<section class="about_area lite_bg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5 col-md-5">
					<div class="about_details lite_bg">
						<h2>Welcome to Hestia Center</h2>
						<p></p>
						<ul class="list_wrap">
							<li class="about_lists">We at Hestia Medical have an experience of 13 years in serving the public with our facilities. </li>
							<li class="about_lists">We also provide the facility to send a query to your doctor through the website itself and have it be resolved as soon as possible.</li>
							<li class="about_lists">Do away with paperwork with our case history and prescription updation functionality present right here on the website.
								 No more of losing important prescriptions or forgetting consultations by your doctor. </li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 offset-lg-3 col-md-6 offset-md-1">
					<div class="about_right overlay">
						<div class="about_inner">
							<h4>Doctors Time table</h4>
							<p>Monday -- 07.00 AM to 10.00 PM</p>
							<p>Tuesday -- 07.00 AM to 10.00 PM</p>
							<p>Wednesday -- 07.00 AM to 10.00 PM</p>
							<p>Thursday -- 07.00 AM to 10.00 PM</p>
							<p>Friday -- 07.00 AM to 10.00 PM</p>
							<p>Saturday -- 07.00 AM to 6.00 PM</p>
						</div>

					</div>
				</div>
			</div>
			<div class="about_bg overlay"></div>
		</div>
	</section>
</div>
	<!--================ End About Area =================-->


	<!--================ Start Counter Area =================-->
	<section class="section_gap counter_area overlay">
		<div class="container">
			<div class="row">
				<!--single-counter-->
				<div class="col-lg-3 col-sm-6">
					<div class="single_counter">
						<h1> <span class="counter_number">10</span>+</h1>
						<p>Years <br> of Experiences</p>
					</div>
				</div>
				<!--single-counter-->
				<div class="col-lg-3 col-sm-6">
					<div class="single_counter">
						<h1> <span class="counter_number">1</span>K+</h1>
						<p>Instant <br> Blood Donors </p>
					</div>
				</div>
				<!--single-counter-->
				<div class="col-lg-3 col-sm-6">
					<div class="single_counter">
						<h1> <span class="counter_number">2</span>K+</h1>
						<p>Well Cured <br> Patients</p>
					</div>
				</div>
				<!--single-counter-->
				<div class="col-lg-3 col-sm-6">
					<div class="single_counter">
						<h1> <span class="counter_number">20</span>+</h1>
						<p>Internal <br> fundraiser Groups</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ Start Counter Area =================-->

	<!--================ Start Team Area =================-->
	<section class="section_gap team_area lite_bg">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="main_title">
						<h2>Our Department Heads</h2>
						<p>We offer expertise in four major fields. They are- 1. ENT 2.Dental care 3.Neurology 4.General Physician</p>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single-team-member -->
				<div class="col-lg-3 col-sm-6">
					<div class="single_member">
						<div class="author">
							<img src="img/team/member1.png" alt="">
						</div>
						<div class="author_decs">
							<h4>Dr.Rakesh Gupta</h4>
							<p class="profession">HOD, ENT</p>
							<p>Dr. Rakesh Gupta is a highly talented, hard-working, committed specialist with extensive experience in handling complicated cases.
								His clinical interests include airway emergencies, carcinomas of the head and neck and associated operations, thyroid surgeries, laser surgeries.
							 </p>
						</div>
					</div>
				</div>
				<!-- single-team-member -->
				<div class="col-lg-3 col-sm-6">
					<div class="single_member">
						<div class="author">
							<img src="img/team/member2.png" alt="">
						</div>
						<div class="author_decs">
							<h4>Dr. Sunita Grace</h4>
							<p class="profession">HOD, Dental care</p>
							<p>Dr. Sunita is a certified advanced trainee in Dental GPS Digital Smile design from the USA with Diploma in digital Implantology, Prosthodontics, and Smile design from Copenhagen, Denmark.
								She is an expert in Minimal prep veneers, Esthetic corrections, and Smile designing.</p>
						</div>
					</div>
				</div>
				<!-- single-team-member -->
				<div class="col-lg-3 col-sm-6">
					<div class="single_member">
						<div class="author">
							<img src="img/team/member3.png" alt="">
						</div>
						<div class="author_decs">
							<h4>Dr. Bharat Sharma</h4>
							<p class="profession">HOD, Neurology</p>
							<p>Dr. Bharat Sharma is an active member of American Academy of Neurology and Medical Council of India.
								 He was the chairman of neurology department at Jaipur Golden Hospital, New Delhi</p>
						</div>
					</div>
				</div>
				<!-- single-team-member -->
				<div class="col-lg-3 col-sm-6">
					<div class="single_member">
						<div class="author">
							<img src="img/team/member4.png" alt="">
						</div>
						<div class="author_decs">
							<h4>Dr.Rama Agarwal</h4>
							<p class="profession">Head of medicine</p>
							<p>Dr.Rama Agarwal is a consultant physician/internist with extensive experience in early diagnosis and appropriate treatment of acute and chronic medical problems,
								such as diabetes, hypertension, thyroid disorders, etc.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Team Area =================-->

	<!--================ Start Blog Area =================-->
	<section class="section_gap blog_area">
		<div id=form>
		<div class="container">
			<div class="row justify-content-center">

				<!-- appoinment area -->
				<div class="col-lg-12">
					<div class="main_title">
							<h2>Make an Appointment</h2>
							<p>Skip the line and make an appointment before visiting. We offer expert doctors which are top of the line in their fields</p>
							</div>
					<div class="row justify-content-center">
						<div class="appoinment_form_section lite_bg">
							<form class="form_area" id="myForm" action="/appointment" method= "post" >
								<div class="row">
									<div class="col-lg-12 form_group">
										<input name="name" placeholder="Patient name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'"
										 class="common_input form-control" required="" type="text">
										<input name="email" placeholder="Email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
										 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common_input form-control"
										 required="" type="email">
										<input name="dob" placeholder="Date of birth"  onblur="this.placeholder = 'Enter date of birth'"
										 class="common_input form-control" required=""  type="text" onfocus="(this.type='date')"  id="dob" max='2020-02-22'step="1" >
										<!--select name="field" class="default-select">
											<option data-display="Doctor’s field">Doctor needed in</option>
											<option value="1">ENT</option>
											<option value="2">Physician</option>
											<option value="3">Gynaecologist</option>
											<option value="4">Dentist</option>
										</select>-->

										 <input name="field" placeholder="Doctor's field" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ENT/Dentist/Neurology/Physician'"
 										 class="common_input form-control" required="" type="text" >
										<input name="appdate" placeholder="Appointment date"  onblur="this.placeholder = 'Enter Appointment date'"
										 class="common_input mb-10 form-control" required="" type="text" onfocus="(this.type='date')"  id="appdate" min = '2020-02-22' step="1" >
										 <script>
										 var today = new Date();
										 var dd = today.getDate();
										 var mm = today.getMonth()+1; //January is 0!
										 var yyyy = today.getFullYear();
										  if(dd<10){
										         dd='0'+dd
										     }
										     if(mm<10){
										         mm='0'+mm
										     }

										 today = yyyy+'-'+mm+'-'+dd;
										 document.getElementById("appdate").setAttribute("min", today);
										 document.getElementById("dob").setAttribute("max", today);
										 </script>
										<textarea class="common_textarea form-control" name="message" placeholder="Enter a query here" onfocus="this.placeholder = ''"
										 onblur="this.placeholder = 'Message'" ></textarea>
									</div>
									<div class="col-lg-12 text-center">
										<button class="primary-btn text-uppercase">confirm booking</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!--================ End Blog Area =================-->

	<!--================ Start footer Area  =================-->
<div id=contact>
	<footer class="footer-area section-gap">
		<div class="footer_top section_gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<div class="single-footer-widget">
							<h4 class="text-white">About Us</h4>
							<p>
								We are a group of ambitious individuals that aim to make healthcare affordable and accessible to everyone.
								 We have unified experts in various fields from all over the country to provide you the ease in recovery you deserve.
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="single-footer-widget">
							<h4 class="text-white">Contact Us</h4>
							<p>
								Address- Hestia Medical, Rd Number 7, opp. Bharatiya Vidya Bhavan School, Jubilee Hills, Hyderabad, Telangana 500033
							</p>
							<p>Email us at: support.hestia@gmail.com </p>
							<p>Call us at- <br>
								+9199999999996 <br>
								+9199999999977
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</footer>
</div>
	<!--================ End footer Area  =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/date.js"></script>
	<script src="vendors/lightbox/simpleLightbox.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="vendors/counter-up/jquery.waypoints.min.js"></script>
	<script src="vendors/counter-up/jquery.counterup.js"></script>
	<!--script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
