<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Doctor Patients</title>
  <link href="css1/table.css" rel="stylesheet">
  <link href="css1/bootstrap.min.css" rel="stylesheet">
	<link href="css1/font-awesome.min.css" rel="stylesheet">
	<link href="css1/datepicker3.css" rel="stylesheet">
	<link href="css1/styles.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js1/queries.js"></script>
<!--Custom Font-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body>
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span></button>
			<a class="navbar-brand" href="#"><span>Hestia</span>Medical</a>

		</div>
	</div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<div class="profile-sidebar">
		<div class="profile-userpic">
			<img src="img/receptionist.jpg" class="img-responsive" alt="">
		</div>
		<div class="profile-usertitle">
			<div class="profile-usertitle-name"><h4><p id="demo"></p></h4>
				<script>  
					email1 = window.localStorage.getItem("vTwoLocalStorage"); 
					email2 = email1.match(/^([^@]*)@/)[1];
					document.getElementById("demo").innerHTML = email2 ;
					//gotobottom();
				</script></div>
			<!--div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div-->
		</div>
		<div class="clear"></div>
	</div>
	<div class="divider"></div>

	<ul class="nav menu">
		<!--li><a href="index.html"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li-->
		<li><a href="/reception"><em class="fa fa-calendar">&nbsp;</em> Dashboard</a></li>
		<li><a href="/receptionistaccinfo"><em class="fa fa-bar-chart">&nbsp;</em> My account</a></li>
		<li><a href="/docavail"><em class="fa fa-toggle-off">&nbsp;</em>Check Availability</a></li>
		<li class="active"><a href="/recqueries"><em class="fa fa-clone">&nbsp;</em> Queries</a></li>

		<li><a href="stafflogin.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
	</ul>
</div><!--/.sidebar-->

	<!--div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Patients</li>
			</ol>
		</div><!--/.row-->

		<!--div class="row" >

			<div class="col-lg-12">

				<ng ng-app="myApp">
			  <div class="container">
			    <h1>Inbox</h1>

			        <div class="row" ng-controller="inboxCtrl">

			        <div class="col-md-10">
			            <!--inbox toolbar-->
			            <!--div class="row" ng-show="!isMessageSelected()">
			                <div class="col-xs-12">
			                    <a title="Refresh" class="btn btn-default btn-lg" id="refreshInbox" href="javascript:;" data-toggle="tooltip">
			                      <span class="fa fa-refresh fa-lg"></span>
			                    </a>
			                    <button title="Compose New" class="btn btn-default btn-lg" data-target="#modalCompose" data-toggle="modal">
			                      <span class="fa fa-edit fa-lg"></span>
			                    </button>

			                    <div class="pull-right">
			                        <span class="text-muted"><b>{{(itemsPerPage * currentPage) + 1}}</b>–<b>{{(itemsPerPage * currentPage) + pagedItems[currentPage].length}}</b> of <b>{{items.length}}</b></span>
			                        <div class="btn-group btn-group">
			                            <button class="btn btn-default btn-lg" type="button" ng-click="prevPage()" ng-class="{disabled: currentPage == 0}">
			                                <span class="glyphicon glyphicon-chevron-left"></span>
			                            </button>
			                            <button class="btn btn-default btn-lg" type="button" ng-click="nextPage()" ng-class="{disabled: currentPage == pagedItems.length - 1}">
			                                <span class="glyphicon glyphicon-chevron-right"></span>
			                            </button>
			                        </div>
			                    </div>
			                </div><!--/col-->
			                <!--div class="col-xs-12 spacer5"></div>
			            </div><!--/row-->
			            <!--/inbox toolbar-->
			            <!--div class="panel panel-default inbox" id="inboxPanel">
			                <!--message list-->
			                <!--div class="table-responsive" ng-show="!isMessageSelected()">
			                    <table class="table table-striped table-hover refresh-container pull-down">
			                        <thead class="hidden-xs">
			                            <tr><td class="col-sm-1"><input title="Mark all" type="checkbox"></td>
			                            <td class="col-sm-3"><a href="javascript:;"><strong>Date</strong></a></td>
			                            <td class="col-sm-1"></td>
			                            <td class="col-sm-2"><a href="javascript:;"><strong>From</strong></a></td>
			                            <td class="col-sm-4"><a href="javascript:;"><strong>Subject</strong></a></td>
			                            <td class="col-sm-1"></td>
			                        </tr></thead>

			                          <tbody><tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
			                            <td class="col-sm-1 col-xs-4"><input title="Mark this item here" type="checkbox"></td>
			                            <td class="col-sm-3 col-xs-4" ng-click="readMessage($index)"><span ng-class="{strong: !item.read}">{{item.dtSent}}</span></td>
			                            <td class="col-sm-1 col-xs-4"><a title="Delete item" href="javascript:;" ng-click="deleteItem($index)" ng-class="{strong: !item.read}"><i class="fa fa-trash-o"></i></a></td>
			                            <td class="col-sm-2 col-xs-4" ng-click="readMessage($index)"><span ng-class="{strong: !item.read}">{{item.from}}</span></td>
			                            <td class="col-sm-4 col-xs-6" ng-click="readMessage($index)"><span ng-class="{strong: !item.read}">{{item.subject}}</span></td>
			                            </tr>
			                        </tbody>
			                    </table>
			                </div>
			                <!--message detail-->
			                <!--div class="container-fluid" ng-show="isMessageSelected()">
			                    <div class="row" ng-controller="messageCtrl">
			                        <div class="col-xs-12">
			                            <h3 title="subject"><button class="close pull-right" aria-hidden="true" type="button" ng-click="closeMessage()">×</button><a href="javascript:;" ng-click="groupToPages()">Inbox</a> &gt; {{selected.subject}}</h3>
			                        </div>
			                        <div class="col-md-8">
			                            <blockquote class="bg-info small">
			                            <strong>{{selected.from}}</strong> &lt;{{selected.fromAddress}}&gt; on {{selected.dtSent}}
			                            </blockquote>
			                        </div>
			                        <div class="col-md-4">
			                			<div class="btn-group btn-group-lg pull-right">
			                				<button title="Reply to this message" class="btn btn-primary btn-lg pull-right" data-target="#modalCompose" data-toggle="modal">
																<span class="fa fa-edit fa-lg"></span>

			                				</button>

			                			</div>
			                			<div class="spacer5 pull-right"></div>
			                			<button title="Delete this message" class="btn btn-lg btn-default pull-right" data-toggle="tooltip" ng-click="deleteItem(selected.$index)">
			            					<i class="fa fa-trash-o fa-1x"></i>
			            				</button>
			                		</div>
			                		<div class="col-xs-12"><hr></div>
			                        <div class="col-xs-12">
			                            <!--message body-->
			                            <!--p ng-bind-html="renderMessageBody(selected.body)"></p>
			                            <!--/message body-->
			                        <!--/div>
			                        <div class="col-xs-12 clearfix"><hr></div>
			                        <div class="col-xs-12">
			                            <a title="Download attachment" href="javascript:;" ng-show="selected.attachment"><span class="glyphicon glyphicon-paperclip"></span></a>
			                        </div>
			                    </div><!--/row-->
			                <!--/div>
			            </div><!--/inbox panel-->
			            <!--div class="well well-s text-right"><em>Inbox last updated: <span id="lastUpdated">{{date | date:'MM-dd-yyyy HH:mm:ss'}}</span></em></div>
			        </div><!--/col-9-->
			        <!-- /.modal compose message -->
			        <!--div class="modal fade" id="modalCompose">
			          <div class="modal-dialog">
			            <div class="modal-content">
			              <div class="modal-header">
			                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
			                <h4 class="modal-title">Compose Message</h4>
			              </div>
			              <div class="modal-body">
			                <form class="form-horizontal" role="form">
			                    <div class="form-group">
			                      <label class="col-sm-2" for="inputTo">To</label>
			                      <div class="col-sm-10"><input class="form-control" id="inputTo" type="email" placeholder="comma separated list of recipients"></div>
			                    </div>
			                    <div class="form-group">
			                      <label class="col-sm-2" for="inputSubject">Subject</label>
			                      <div class="col-sm-10"><input class="form-control" id="inputSubject" type="text" placeholder="subject"></div>
			                    </div>
			                    <div class="form-group">
			                      <label class="col-sm-12" for="inputBody">Message</label>
			                      <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="12"></textarea></div>
			                    </div>
			                </form>
			              </div>
			              <div class="modal-footer">
			                <button class="btn btn-default pull-left" type="button" data-dismiss="modal">Cancel</button>
			                <button class="btn btn-warning pull-left" type="button">Save Draft</button>
			                <button class="btn btn-primary " type="button">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
			              </div>
			            </div><!-- /.modal-content -->
			          <!--/div><!-- /.modal-dialog -->
			        <!--/div><!-- /.modal compose message -->
			    <!--div><!--/row ng-controller-->

			  	<!--/div><!--/container-->

			  <!--/div>

			  </div>
			</ng>

      </div>
		<!--/div><!--/.row-->
<!--/div-->


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Queries</li>
			</ol>
		</div><!--/.row-->
		<br>
		<div class="row">
			<div class="col-lg-12">
				<!--h1 class="page-header">Patients</h1-->
        <div class="container">
          <h2>Unresolved Queries</h2>
          <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">Sent Date</div>
              <div class="col col-3">Patient Email ID</div>
              <div class="col col-2">Patient Query</div>
              <div class="col col-4">Action</div>
            </li>
            
            <% 
            	var list = '';
            	if(queries.length==0){
            		list+='<h3>No unresolved queries found</h3>';
            	}
            	for(i=0; i<queries.length; i++){
            		list += '<li class="table-row"><div class="col col-1" >'+queries[i].when+'</div><div class="col col-3" >'+queries[i].from+'</div><div class="col col-2" >'+queries[i].content+'</div><script>function reply'+i+'(){document.getElementById("replybox'+i+'").removeAttribute("hidden");document.getElementById("submitrb'+i+'").removeAttribute("hidden");document.getElementById("submitrbc'+i+'").removeAttribute("hidden");}function noreply'+i+'(){document.getElementById("replybox'+i+'").setAttribute("hidden", true);document.getElementById("submitrb'+i+'").setAttribute("hidden", true);document.getElementById("submitrbc'+i+'").setAttribute("hidden", true);}function fwd'+i+'(){document.getElementById("fwdbox'+i+'").removeAttribute("hidden");document.getElementById("submitfb'+i+'").removeAttribute("hidden");document.getElementById("submitfbc'+i+'").removeAttribute("hidden");}function nofwd'+i+'(){document.getElementById("fwdbox'+i+'").setAttribute("hidden", true);document.getElementById("submitfb'+i+'").setAttribute("hidden", true);document.getElementById("submitfbc'+i+'").setAttribute("hidden", true);}</script><div class="col col-4" ><button onclick="reply'+i+'()" style="background-color:#10A5F5;"><h4>&nbsp;&nbsp;Reply&nbsp;&nbsp;</h4></button><p>&nbsp;&nbsp;</p><button onclick="fwd'+i+'()" style="background-color:#10A5F5;"><h4>Forward</h4></button></div></li><li><form action="/rcptreplyquery" method="post"><input type="text" name="email" id="email" value="'+queries[i].from+'" hidden><input type="text" name="when" id="when" value="'+queries[i].when+'" hidden><textarea placeholder="Type the reply here.." id="replybox'+i+'" name="replybox" rows="5" cols="88" hidden></textarea><input type="submit" name="submitrb" id="submitrb'+i+'" value="Send"  style="background-color:#10A5F5; height:30px ; width:70px" hidden></form><button name="submitrbc'+i+'" id="submitrbc'+i+'" onclick="noreply'+i+'()" style="background-color:#10A5F5; height:30px ; width:70px" hidden>X</button></li><li><form action="/rcptfwdquery" method="post"><input type="text" name="email" id="email" value="'+queries[i].from+'" hidden><input type="text" name="what" id="what" value="'+queries[i].content+'" hidden><input type="text" name="when" id="when" value="'+queries[i].when+'" hidden><input type="text" placeholder="Type the doctor email here.." id="fwdbox'+i+'" name="fwdbox" hidden><input type="submit" name="submitfb" id="submitfb'+i+'" value="Send"  style="background-color:#10A5F5; height:30px ; width:70px" hidden></form><button name="submitfbc'+i+'" id="submitfbc'+i+'" onclick="nofwd'+i+'()" style="background-color:#10A5F5; height:30px ; width:70px" hidden>X</button></li>';
            	}
            %>
            
            <%- list %>
            
            <!--li class="table-row">
              <div class="col col-1" >42235</div>
              <div class="col col-2" data-label="Patient Name">John Doe</div>
              <div class="col col-3" >dd-mm-yy</div>
              <div class="col col-4" ><a href="CaseHistory.html">{last case history record here}</a></div>
     		</li>
     		<li>
              <input type="text" hidden>
            </li>
            <li class="table-row">
              <div class="col col-1" data-label="Patient Id">42235</div>
              <!--div class="col col-2" data-label="Patient Name">John Doe</div-->
              <!--div class="col col-3" data-label="AppointmentDate">dd-mm-yy</div>
              <div class="col col-4" data-label="Case Status"><a href="CaseHistory.html">{last case history record here}</a></div>
     		</li-->
     		
          </ul>
        </div>
      </div>
		</div><!--/.row-->



<script src="js1/jquery-1.11.1.min.js"></script>
	<script src="js1/bootstrap.min.js"></script>
	<script src="js1/chart.min.js"></script>
	<script src="js1/chart-data.js"></script>
	<script src="js1/easypiechart.js"></script>
	<script src="js1/easypiechart-data.js"></script>
	<script src="js1/bootstrap-datepicker.js"></script>
	<script src="js1/custom.js"></script>

</body>
</html>
